/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 150px;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: var(--font-libre-bodoni);
  color: var(--4D4D4D);
  -webkit-font-smoothing: antialiased;
}

.uppercase {
  text-transform: uppercase;
}

.button {
  font-family: var(--font-libre-bodoni);
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  min-width: 190px;
  font-size: var(--14);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  text-decoration: none;
  border: 0;
  padding: 0 10px;
  height: 47px;
  cursor: pointer;

  &--center {
    margin: 0 auto;
  }

  &--primary {
    color: var(--4D4D4D);
    background-color: var(--DBE5D8);
  }
}

/* Align */
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  // transform: translateY(10px);
  transition: all 0.4s ease;
  background-color: var(--DBE5D8);
  z-index: 10;

  @media only screen and (min-width: 1024px) {
    justify-content: center;
    background-color: rgba(219, 229, 216, 0.8);
  }

  &.is-scroll {
    background-color: rgba(219, 229, 216, 0.8);
    // transform: translateY(0);
    .header__link {
      color: var(--A98417);
    }
  }

  &__button {
    position: relative;
    width: 30px;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;

    @media only screen and (min-width: 1024px) {
      display: none;
    }

    .icon {
      &-menu,
      &-close {
        width: 100%;
        transition: all 0.4s ease;
      }

      &-close {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
      }
    }

    &.is-active {
      .icon {
        &-menu {
          opacity: 0;
          visibility: hidden;
        }

        &-close {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  nav {
    display: none;
    @media only screen and (min-width: 1024px) {
      display: block;
    }
  }

  &__menu {
    display: flex;
    justify-content: center;
    column-gap: 80px;
    align-items: center;
    text-align: center;

    &-mobile {
      width: 200px;
      img {
        width: 100%;
      }

      @media only screen and (min-width: 1024px) {
        display: none;
      }
    }
  }

  &__logo {
    max-width: 50px;
    @media only screen and (min-width: 1024px) {
      max-width: 100px;
    }
  }

  &__link {
    display: block;
    font-style: normal;
    color: var(--4D4D4D);
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.6px;
    text-transform: uppercase;
    text-decoration: none;
    // -webkit-text-stroke-width: 0.5;
    // -webkit-text-stroke-color: var(--000);

    @media only screen and (min-width: 1024px) {
      font-size: var(--26);
    }
  }
}

.menu {
  &-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--DBE5D8);
    transform: translate3d(100%, 0, 0);
    transition: all 0.4s ease;
    z-index: 9;

    &.is-active {
      transform: translate3d(0, 0, 0);
    }

    nav {
      height: 100%;
    }

    ul {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      row-gap: 50px;
    }
  }
}

/* Section */
.section {
  &Banner {
    .img-2 {
      position: fixed;
      top: 40px;
      left: 0;
      width: 200px;

      @media only screen and (min-width: 1024px) {
        top: 40px;
        width: auto;
      }
    }

    &__bckg {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;

      @media only screen and (min-width: 1024px) {
        position: absolute;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;

        @media only screen and (min-width: 1024px) {
          object-position: right;
        }
      }
    }

    &__content {
      position: relative;
      padding: 140px 0 90px;
      text-align: center;

      @media only screen and (min-width: 1024px) {
        padding: 240px 0 70px;
      }

      .text {
        width: 300px;

        @media only screen and (min-width: 1024px) {
          width: auto;
        }
      }

      .flower {
        position: absolute;
        top: -50px;
        left: 50%;
        width: 300px;
        transform: translate(-50%, 0);

        @media only screen and (min-width: 1024px) {
          top: -70px;
          width: auto;
        }
      }
    }

    .box--medium {
      margin-top: 116px;
      padding: 44px 20px 84px;
    }
  }
  &Photo {
    position: relative;

    .photo {
      width: 100%;
    }

    .img {
      &-5,
      &-6,
      &-7 {
        position: absolute;
      }

      &-5 {
        top: -40px;
        right: 0;
        width: 40%;
        max-width: 242px;

        @media only screen and (min-width: 1024px) {
          top: -60px;
          width: auto;
          max-width: max-content;
        }
      }

      &-6 {
        bottom: -50px;
        left: 0;
        width: 40%;
        max-width: 242px;
        z-index: 1;

        @media only screen and (min-width: 1024px) {
          bottom: -110px;
          width: auto;
          max-width: max-content;
        }
      }
      &-7 {
        top: 40px;
        left: 40px;
        width: 50px;

        @media only screen and (min-width: 680px) {
          top: 70px;
          left: 60px;
        }

        @media only screen and (min-width: 1024px) {
          top: 115px;
          left: 100px;
          width: auto;
        }
      }
    }
  }
  &Countdown {
    position: relative;
    margin-top: -15px;
    background-color: var(--FFF);

    &__bckg {
      position: relative;
      overflow: hidden;

      .img-8 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__timer {
      position: relative;
      padding: 40px 0 80px;
      text-align: center;

      @media only screen and (min-width: 1024px) {
        padding: 45px 0 90px;
      }

      .timer {
        display: flex;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;

        @media only screen and (min-width: 1024px) {
          max-width: 1100px;
        }

        div {
          font-family: var(--font-libre-baskerville);
          display: flex;
          flex-direction: column;
          width: 100%;
          color: var(--A98417);
          font-weight: 400;
          font-size: var(--40);

          @media only screen and (min-width: 1024px) {
            font-size: var(--122);
          }

          span {
            font-family: var(--font-libre-bodoni);
            color: var(--666);
            font-size: var(--10);
            letter-spacing: 1px;
            text-transform: uppercase;

            @media only screen and (min-width: 1024px) {
              font-size: var(--20);
              letter-spacing: 4px;
            }
          }
        }
      }
    }

    &__events {
      position: relative;
      width: 100%;
      margin: 0 auto;
      padding: 40px 20px 80px;

      @media only screen and (min-width: 1024px) {
        max-width: 1100px;
        padding: 110px 20px 90px;
      }

      .box {
        text-align: center;
        width: 100%;
        padding-top: 40px;
        padding-bottom: 80px;
        margin-top: 40px;
        margin-bottom: 80px;

        @media only screen and (min-width: 1024px) {
          width: calc(100% - 40px);
          padding-top: 80px;
          padding-bottom: 130px;
          margin-top: 60px;
          margin-bottom: 140px;
        }
      }

      .heading--64,
      .heading--20 {
        text-align: center;
        max-width: 540px;
        margin: 0 0 0 auto;
      }
    }

    .img-9 {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      pointer-events: none;
    }
  }
  &Rsvp {
    position: relative;
    padding: 50px 0 100px;
    background-color: var(--DCE5DB);

    @media only screen and (min-width: 1024px) {
      padding: 100px 0;
    }

    &__wrapper {
      margin: 0 auto;
      padding: 0 20px;

      @media only screen and (min-width: 1024px) {
        max-width: 620px;
      }
    }

    &__content {
      text-align: center;
    }

    &__info {
      text-align: center;
      padding-top: 50px;
      p {
        color: #4d4d4dde;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 5.6px;
        font-size: var(--10);

        @media only screen and (min-width: 1024px) {
          font-size: var(--14);
        }
      }
    }
  }
  &Santamarta {
    position: relative;
    background-color: var(--FFF);
    padding: 60px 20px 20px;

    @media only screen and (min-width: 1024px) {
      padding: 90px 0 0 150px;
    }

    .img {
      &-11 {
        position: absolute;
        top: -80px;
        left: 0;
        width: 200px;
        z-index: 1;

        @media only screen and (min-width: 1024px) {
          top: -150px;
          width: auto;
        }
      }

      &-12 {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__wrapper {
      position: relative;
      width: 100%;
      padding: 0 0 300px;
      z-index: 3;

      @media only screen and (min-width: 1024px) {
        max-width: 735px;
        padding: 0 0 600px;
      }

      ul {
        display: grid;
        row-gap: 10px;
      }

      li {
        border-radius: 15px;
        background: rgba(220, 229, 219, 0.9);

        @media only screen and (min-width: 1024px) {
          border-radius: 25px;
        }

        a {
          display: block;
          width: 100%;
          text-align: center;
          color: var(--A98417);
          padding: 28px 20px 22px;
          text-decoration: none;
        }
      }
    }

    &__box {
      padding: 40px 20px;
      text-align: center;
      background-image: url("../../img/img-10.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 25px;
      margin-bottom: 10px;

      @media only screen and (min-width: 1024px) {
        padding: 60px 70px 90px;
      }

      .heading--20 {
        letter-spacing: normal;
      }
    }
  }
  &Mapa {
    position: relative;
    display: flex;
    img {
      width: 100%;
    }
  }
  &Places {
    position: relative;
    padding: 40px 0 80px;
    background-color: var(--FFF);
    z-index: 1;

    &__wrapper {
      width: 100%;
      margin: 0 auto;
      padding: 0 20px;

      @media only screen and (min-width: 1024px) {
        max-width: 1200px;
      }

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 500px;
        background-color: var(--DCE5DB);
        z-index: -1;
      }

      &.cartagena {
        &:before {
          background-color: rgba(169, 133, 23, 0.1);
        }
      }
    }

    &__title {
      text-align: center;
    }

    &__padding {
      padding: 20px;
    }

    &__item {
      text-align: left;
      padding: 20px;
      box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.18);
      background-color: var(--FFF);

      img {
        width: 100%;
        height: 180px;
        object-fit: cover;
        aspect-ratio: 4/3;

        @media only screen and (min-width: 1024px) {
          height: 227px;
        }
      }

      .heading {
        &--20 {
          position: relative;
          padding-bottom: 20px;
          margin-bottom: 20px;
          letter-spacing: 2px;
          text-transform: uppercase;

          &:after {
            content: "";
            display: inline-block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 60px;
            height: 1px;
            background-color: var(--333);
          }
        }

        &--14 {
          letter-spacing: normal;
        }
      }

      .title {
        position: relative;
        margin-bottom: 40px;
        color: var(--4D4D4D);
        font-size: var(--20);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 2.4px;
        text-transform: uppercase;

        &:after {
          content: "";
          display: inline-block;
          position: absolute;
          bottom: -20px;
          left: 0;
          width: 60px;
          height: 1px;
          background-color: var(--333);
        }
      }
    }

    &__info {
      padding: 20px 15px 0;
    }
  }
  &SantamartaPage {
    &__container {
      width: 100%;
      margin: 0 auto;
      padding: 0 20px;

      @media only screen and (min-width: 1024px) {
        max-width: 1143px;
      }
    }
  }
  &SantamartaBckg {
    height: 560px;

    @media only screen and (min-width: 1024px) {
      height: 1950px;
    }

    &-img {
      position: fixed;
      top: 560px;
      left: 0;
      width: 100%;
      height: 560px;
      object-fit: cover;
      z-index: -1;
      @media only screen and (min-width: 1024px) {
        position: absolute;
        top: 1950px;
        height: 3000px;
      }
    }
  }
}

.box {
  position: relative;
  width: calc(100% - 40px);
  margin: 0 auto;
  border-radius: 15px;

  @media only screen and (min-width: 1024px) {
    border-radius: 25px;
  }

  &--medium {
    max-width: 726px;
    padding-left: 20px;
    padding-right: 20px;
    background: url(../../img/box.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  &--small {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    background: url(../../img/box.png);
    background-repeat: no-repeat;
    background-size: cover;

    @media only screen and (min-width: 1024px) {
      margin: 0 0 0 auto;
      max-width: 540px;
    }
  }
}

.slick {
  &-prev,
  &-next {
    top: 55%;
    &:before {
      font-size: 0;
    }
  }
  &-prev {
    left: -10px;
    height: 31px;
    background: url(../../img/arrow-prev.svg);
    background-repeat: no-repeat;
    background-size: contain;

    @media only screen and (min-width: 1024px) {
      left: -25px;
    }
  }

  &-next {
    right: -10px;
    height: 31px;
    background: url(../../img/arrow-next.svg);
    background-repeat: no-repeat;
    background-size: contain;

    @media only screen and (min-width: 1024px) {
      right: -25px;
    }
  }
}

.slick-prev:hover,
.slick-prev:focus {
  background: url(../../img/arrow-prev.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.slick-next:hover,
.slick-next:focus {
  background: url(../../img/arrow-next.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  font-size: 0;
}

/* Modals */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 20px;
  background-color: rgba(219, 229, 216, 0.8);
  z-index: 20;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 750px;
    height: 100%;
    margin: 0 auto;

    @media only screen and (min-width: 1024px) {
    }
  }

  &__body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;

    @media only screen and (min-width: 1024px) {
      padding: 20px;
    }

    img {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      aspect-ratio: 1 / 1;
      object-fit: contain;
    }
  }

  button {
    position: absolute;
    right: -4px;
    top: 0;
    width: 40px;
    height: 40px;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;

    @media only screen and (min-width: 1024px) {
      right: 0;
      top: 0;
    }
  }
}

/* Form */
.form-group {
  display: grid;
  column-gap: 20px;
}

.form-group__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

[type="text"],
[type="tel"],
[type="email"],
[type="number"],
select,
[type="date"] {
  font-family: inherit;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  font-size: 11px;
  color: var(--888);
  border: 0;
  letter-spacing: 1px;
  border-radius: 10px;
  background-color: var(--FFF);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='7' viewBox='0 0 9 7' fill='none'%3E%3Cpath d='M4.5 6.5L0 0H9L4.5 6.5Z' fill='%23C8C8C8'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) 28px;
}

textarea {
  font-family: inherit;
  width: 100%;
  margin-top: 5px;
  padding: 20px 20px 40px;
  border: 0;
  border-radius: 10px;
  @media only screen and (min-width: 1024px) {
    padding: 20px;
  }
}

.form-group__full {
  margin-bottom: 20px;
}

.form-group__item label,
.form-group__full label {
  display: block;
  margin-bottom: 10px;
  color: var(--4D4D4D);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.form-group__item span label,
.form-group__full span label {
  position: relative;
  text-transform: none;
  margin-bottom: 0;
}

.form-group__full input[type="checkbox"],
.form-group__full input[type="radio"] {
  opacity: 0;
}

.form-group__full input[type="checkbox"] + span:before,
.form-group__full input[type="radio"] + span:before {
  content: "";
  display: flex;
  position: absolute;
  top: 3px;
  left: 5px;
  width: 20px;
  height: 20px;
  border: 0;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}

.form-group__full input[type="checkbox"] + span:after,
.form-group__full input[type="radio"] + span:after {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 0;
  background: #fff;
  border-radius: 5px;
}

input[type="checkbox"]:checked + span:before,
input[type="radio"]:checked + span:before {
  background: var(--A98417);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  opacity: 1;
}

.form-group__full {
  display: flex;
  flex-direction: column;
}

.wpcf7-list-item {
  display: block;
  margin-left: 0;
  padding-bottom: 8px;
}

.wpcf7-list-item-label {
  padding-left: 6px;
  cursor: pointer;
}

.wpcf7-spinner {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.form-group-button input {
  border: 0;
  padding: 14px 35px;
  color: #fff;
  font-family: "Libre Baskerville";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 4px;
  background-color: #b2994e;
  cursor: pointer;
}

.form-group-button {
  text-align: center;
}

.section-3__box-form {
}

@media only screen and (min-width: 1024px) {
  .section-3__box-form {
    padding: 40px 100px;
  }

  .form-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }

  [type="text"],
  [type="tel"],
  [type="email"],
  [type="number"],
  select,
  [type="date"] {
    font-size: var(--14);
    height: 60px;
    padding: 0 20px;
  }

  .form-group__item label,
  .form-group__full label {
    font-size: var(--14);
    font-weight: 400;
    letter-spacing: 1.4px;
    text-transform: none;
  }

  .form-group-button input {
    padding: 18px 47px;
    font-size: 20px;
  }
}

/* Mapa */
.map {
  position: relative;
  z-index: 3;

  iframe {
    height: 400px;
  }

  @media only screen and (min-width: 980px) {
    margin-bottom: 0;

    iframe {
      height: 600px;
    }
  }

  &__text {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    width: 100%;
    max-width: calc(100% - 20px);
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);

    @media only screen and (min-width: 980px) {
      position: absolute;
      grid-template-columns: 1fr 7fr;
      bottom: 90px;
      right: 0;
      left: 0;
      max-width: 1200px;
      padding: 0;
      margin: 0 auto;
    }
  }

  .text-center {
    display: flex;
    justify-content: flex-start;

    @media only screen and (min-width: 980px) {
      justify-content: center;
    }
  }

  svg {
    width: 50px;
    margin: 0 !important;
    @media only screen and (min-width: 980px) {
      margin: 0 auto !important;
    }
  }

  &__copy {
    position: relative;
    padding-top: 20px;
    @media only screen and (min-width: 980px) {
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 40px;
        left: 0;
        width: 1px;
        height: 80px;
      }
    }

    @media only screen and (min-width: 980px) {
      display: grid;
      grid-template-columns: 1fr 2fr;
      align-items: center;
      padding: 40px 30px 40px 27px;
    }

    p {
      position: relative;
    }

    h4 {
    }

    .text {
      line-height: 16px;
      @media only screen and (min-width: 980px) {
        padding-left: 40px;
      }
    }
  }

  .border:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -30px;
    width: 1px;
    height: 80px;
  }
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1px;

  @media only screen and (min-width: 1024px) {
  }
}

.category {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 720px;
  height: 60px;
  margin: 20px auto;
  border-radius: 15px;
  background: rgba(220, 229, 219, 0.9);
  @media only screen and (min-width: 1024px) {
    height: 100px;
    border-radius: 25px;
  }
}
